body {
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: 1.125rem;
    color: {{ site.text-col | default: "#404040" }};
    position: relative;
    background-color: {{ site.page-col | default: "#FFFFFF" }};
    {% if site.page-img %}
      background-image: url({{ site.page-img | relative_url }});
      background-attachment: fixed;
      background-size: 2500px;
    {% endif %}
}

footer {
    padding: 1.875rem 0;
    border-top: 1px #EAEAEA solid;
    margin-top: 3.125rem;
    font-size: 0.875rem;
    background-color: {{ site.footer-col | default: "#EAEAEA" }};
    {% if site.footer-img %}
      background-image: url({{ site.footer-img | relative_url }});
      background-attachment: fixed;
      background-size: 2500px;
    {% endif %}
}